@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  background-color: #fdfffc;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component-header {
  border: 0.1rem solid black;
  border-bottom: 0;
  padding-left: 1rem;
  margin-bottom: 0;
  letter-spacing: 0.2rem;
  font-family: "Bebas Neue", cursive;
}

#editor {
  border: 0.1rem solid black;
  min-height: 15rem;
  width: 540px;
  resize: none;
}

#editor:focus {
  outline: none;
  box-shadow: 0px 0px 5px #f1d302;
}

#preview {
  border: 0.1rem solid black;
  font-family: "Roboto", sans-serif;
  max-width: 650px;
  background-color: white;
  padding: 0 1rem;
}

#preview > p > img {
  width: 100%;
  height: auto;
}

#preview > p > code,
#preview > pre {
  background-color: whitesmoke;
}

#preview > table {
  border-collapse: collapse;
}

#preview > table > tbody > tr > td {
  border: 1px solid black;
  padding: 0.25rem;
}

#preview > table > thead > tr > th {
  border: 1px solid black;
  padding: 0.25rem;
}
